body {
  background-image: none !important;
}

.Hero_section {
  background-image: url("../images/contact_hero_img.png");
  background-position: top 35% center;
  background-size: 2000px;
  opacity: 0.70;
  background-repeat: no-repeat;
  background-color: #49D6CB;
  margin-top: 0px;

}

.Hero_section .hero_section_wrapper {
  padding: 125px 0;
  opacity: 1;
}

.Hero_section .hero_section_wrapper h1 {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.contact_information_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact_information_wrapper ul li {
  border-radius: 10px;
  width: 424px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(126, 126, 126, 0.101961);
  box-shadow: 0px 0px 10px 3px rgba(126, 126, 126, 0.101961);
  position: relative;
}

.contact_information_wrapper ul li div {
  text-align: center;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #49D6CB;
  padding: 20px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.contact_information_wrapper ul li div img {
  margin-top: 7%;
}

.contact_information_wrapper ul li strong {
  display: inline-block;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 20px;
}

.contact_information_wrapper ul li p {
  font-size: 16px;
  color: #49d6cb;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.location-section {
  margin-top: 100px;
}

/*# sourceMappingURL=contact.css.map */