@charset "UTF-8";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeueCyr';
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1540px;
  margin: 0 auto;
}

header nav {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header nav div img {
  padding: 10px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

header nav ul li {
  padding: 5px 20px;
}

header nav ul li a {
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'HelveticaNeueCyr';
}

header nav ul li a:hover {
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 15;
  color: #49d6cb !important;
  border-bottom: 2px solid #49d6cb;
}

header nav ul .home a {
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 15;
  color: #49d6cb !important;
  border-bottom: 2px solid #49d6cb;
}

.drop_down_wrapper {
  margin: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.drop_down_wrapper {
  margin-left: -10px;
}

.drop_down_wrapper p {
  margin: 0;
  padding: 0px;
  margin-top: -10px;
}

.drop_down_wrapper img {
  margin-left: 5px;
  margin-top: -5px;
}

.drop_down_hover:hover .drop_down_menu {
  display: block;
}

.drop_down_menu {
  display: none;
  background-color: #ffffff !important;
  width: 50px;
  text-align: center;
  position: absolute;
  z-index: 5;
  margin-left: -0.5%;
  border-radius: 5px;
}

.drop_down_menu p {
  padding: 5px;
}

.drop_down_menu p:hover {
  cursor: pointer;
}

.hamburger_menu {
  display: none;
}

.hamburger_menu nav ul li {
  margin-top: -10px;
}

.hamburger_menu .burder_body {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5000;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  text-align: right;
  padding: 20px;
  transition: all 1s;
}

.hamburger_menu .burder_body ul li a {
  color: #fff;
  display: inline-block;
  padding: 20px 0;

}

.hamburger_menu .burder_body button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 35px;
}

.burger_open_button {
  background-color: #fff;
  border: none;

}

.burger_open_button span {
  border-bottom: 2px solid #000;
  width: 20px;
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 0px;
  height: 5px;
}

.burger_open_button img {
  width: 25px;
  height: 25px;
}

.Hero_wrapper {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
}

.Hero_wrapper .hero_left {
  margin-top: 1%;
}

.Hero_wrapper .hero_left h2 {
  font-family: 'comfortaa';
  font-weight: bold;
  width: 360px;
  font-size: 56px;
  font-weight: 500;
}

.Hero_wrapper .hero_left p {
  width: 633px;
  margin-top: -20px;
  font-size: 20px;
}

.Hero_wrapper .img_call {
  display: block;
  position: fixed;
  -webkit-transition: all 1s;
  transition: all 1s;
  bottom: 10%;
  right: 10%;
  animation: call_img_animate 5s;
  animation-iteration-count: infinite;
  z-index: 500;
}

.Hero_wrapper .home_main_img {
  padding-bottom: 80px;
}

.Hero_wrapper .img_call:hover {
  cursor: pointer;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

@keyframes call_img_animate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.Hero_wrapper .hero_left::before {
  content: url("../images/dots_hero.png");
  position: absolute;
  margin-left: -3%;
  margin-top: 5%;
}

.Hero_wrapper .hero_left::after {
  content: url("../images/bacground_hero_2.png");
  position: absolute;
  margin-left: 7.5%;
  margin-top: -16%;
  z-index: -5;
}

.PixYz-easier_section {
  background-image: url("../images/img_bacground_3.png"), url("../images/img_bacground_2.png");
  background-position: top left, top right;
  background-size: 1038px, 1042px;
  background-repeat: no-repeat;
}

.PixYz-easier_wrapper div {
  padding-top: 180px;
  margin: 90px;
  text-align: center;
  padding-bottom: 310px;
}

.PixYz-easier_wrapper h4 {
  font-size: 40px;
  font-weight: 300;
  font-family: "comfortaa";
  color: #217a73;
}

.PixYz-easier_wrapper p {
  color: #8a8a8a;
  font-size: 22px;
  width: 1266px;
  margin: 0 auto;
  margin-top: -10px;
  line-height: 1.5;
  position: relative;
}

.PixYz-easier_wrapper p::after {
  content: "";
  background-image: url("../images/Component 2 – 1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 450px;
  position: absolute;
  left: 40%;
  right: 0;
}

.services_section {
  background-color: #f4f6fc;
  margin-top: -110px;
  padding-top: 50px;
}

.services_section .services_wrapper {
  text-align: center;
}

.services_section .services_wrapper h3 {
  font-size: 40px;
  font-weight: 400;
  color: #217a73;
}

.services_section .services_wrapper .paragrph_services {
  font-size: 24px;
  color: #7d7d7d;
  width: 950px;
  margin: 0 auto;
  line-height: 1.5;
}

.services_section .services_wrapper .services_cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
  margin-left: -0% !important;

}

.services_section .services_wrapper .services_cards li {
  width: 420px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 5;
}

.services_section .services_wrapper .services_cards li div {
  margin-top: 40px;
  background-color: #49d6cb;
  border-radius: 50%;
  display: inline-block;
  width: 91px;
  height: 91px;
}

.services_section .services_wrapper .services_cards li div svg {
  margin: 0 auto;
  margin-top: 20%;
}

.services_section .services_wrapper .services_cards li h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "comfortaa";
}

.services_section .services_wrapper .services_cards li p {
  width: 300px;
  font-size: 16px;
  color: #c9c9c9;
  margin: 0 auto;
  line-height: 1.5;
}

.services_section .services_wrapper .services_cards li a {
  display: inline-block;
  margin: 20px;
  margin-bottom: 40px;
  color: #49d6cb;
}

.services_section .services_wrapper .services_cards li:hover {
  background-color: #49d6cb;
}

.services_section .services_wrapper .services_cards li:hover svg path {
  fill: #49D6CB !important;
}

.services_section .services_wrapper .services_cards li:hover a {
  color: #fff;
}

.services_section .services_wrapper .services_cards li:hover p {
  color: #fff;
}

.services_section .services_wrapper .services_cards li:hover h4 {
  color: #fff;
}

.services_section .services_wrapper .services_cards li:hover div {
  background-color: #fff;
}

.services_section .services_wrapper .services_cards li:hover div img svg path {
  fill: #217a73 !important;
}

.services_section .services_wrapper .services_cards::after {
  content: url("../images/servis_bacground.png");
  position: absolute;
  right: 8%;
  bottom: -20%;
}

.services_section .services_wrapper .img_servis_new {
  display: inline-block;
  margin-bottom: -40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services_section .services_wrapper .img_servis_new:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.work_line_section .work_line_wrapper {
  margin-top: 100px;
  text-align: center;
}

.work_line_section .work_line_wrapper h2 {
  color: #217a73;
  font-weight: 500;
  font-size: 40px;
}

.work_line_section .work_line_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.work_line_section .work_line_wrapper ul li:nth-child(1) {
  position: relative;
}

.work_line_section .work_line_wrapper ul li:nth-child(1)::before {
  content: "";
  background-image: url("../images/Group 1580.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 400px;
  position: absolute;
  top: -50%;
  left: 40%;
}

.work_line_section .work_line_wrapper ul li:nth-child(2) {
  position: relative;
}

.work_line_section .work_line_wrapper ul li:nth-child(2):before {
  content: "";
  background-image: url("../images/Group 1582.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1200px;
  height: 400px;
  position: absolute;
  top: -110%;
}

.work_line_section .work_line_wrapper ul li:nth-child(2n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.work_line_section .work_line_wrapper ul li:nth-child(2n) div {
  margin-top: 0 !important;
}

.work_line_section .work_line_wrapper ul li:nth-child(3) {
  position: relative;
}

.work_line_section .work_line_wrapper ul li:nth-child(3):before {
  content: "";
  background-image: url("../images/Group 1583.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
  position: absolute;
  margin-top: -16%;
  margin-left: 18%;
}

.work_line_section .work_line_wrapper ul li:nth-child(3)::after {
  content: "";
  background-image: url("../images/Group 1584.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 650px;
  height: 400px;
  position: absolute;
  top: 85%;
  left: 48%;
}

.work_line_section .work_line_wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 190px;
}

.work_line_section .work_line_wrapper ul li div {
  margin-top: 2%;
}

.work_line_section .work_line_wrapper ul li div h3 {
  color: #217a73;
  text-align: left;
  font-size: 32px;
  font-weight: 500;
}

.work_line_section .work_line_wrapper ul li div p {
  width: 610px;
  text-align: left;
  color: #8a8a8a;
  font-size: 24px;
  line-height: 1.5;
}

.work_line_section .work_line_wrapper button {
  background-color: #49d6cb;
  border: none;
  border-radius: 5px;
  padding: 15px 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #fff;
  margin: 0 auto;
  margin-top: 80px;
}

.work_line_section .work_line_wrapper button a {
  color: #fff;
}

.work_line_section .work_line_wrapper button:hover {
  background-color: #fff;
  color: #49d6cb;
  cursor: pointer;
  border: 1px solid #49d6cb;
}

.work_line_section .work_line_wrapper button:hover a {
  color: #49d6cb !important;
}




.technologies_section .technologies_wrapper {
  margin-top: 70px;
}

.technologies_section .technologies_wrapper h2 {
  color: #217a73;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
}

.technologies_section .technologies_wrapper p {
  color: #7d7d7d;
  font-size: 24px;
  width: 90%;
  line-height: 1.5;
  position: relative;
}

.technologies_section .technologies_wrapper p::before {
  content: url("../images/servis_bacground.png");
  position: absolute;
  margin-top: -50px;
  margin-left: -70px;
}

.technologies_section .technologies_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.technologies_section .technologies_wrapper ul li {
  width: 105px;
  height: 120px;
  margin: 16px;
  background-color: #fff !important;
  z-index: 5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.technologies_section .technologies_wrapper ul li img {
  width: 50px;
  height: 50px;
  margin-left: 25%;
  margin-top: 20%;
}

.technologies_section .technologies_wrapper ul li h6 {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.technologies_section .technologies_wrapper ul li:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.160784);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.160784);
}

.technologies_section .technologies_wrapper ul li:hover h6 {
  color: #7d7d7d;
}

.section_slider {
  background-color: #F4F6FC;
}

.section_slider .slider_wrapper {
  padding-bottom: 80px;
  width: 900px;
}

.section_slider .slider_wrapper .swiper-slide {
  text-align: center;
}

.section_slider .slider_wrapper .swiper-slide h3 {
  padding-top: 60px;
  color: #217a73;
  font-size: 40px;
  font-weight: 500;
}

.section_slider .slider_wrapper .swiper-slide p {
  margin: 0 auto;
  margin-top: -20px;
  width: 637px;
  color: #7d7d7d;
  line-height: 2;
}

.section_slider .slider_wrapper .swiper-slide p::before {
  content: url("../images/vergul_icon.png");
  position: absolute;
  margin-left: -150px;
  margin-top: -50px;
}

.section_slider .slider_wrapper .swiper-slide p::after {
  content: url("../images/vergul_icon.png");
  position: absolute;
  margin-left: 0px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 0px;
}

.section_slider .slider_wrapper .swiper-slide .user_slider_wrpapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 40px;
}

.section_slider .slider_wrapper .swiper-slide .user_slider_wrpapper img {
  width: 60px;
  height: 60px;
}

.section_slider .slider_wrapper .swiper-slide .user_slider_wrpapper div {
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 8px;
}

.section_slider .slider_wrapper .swiper-slide .user_slider_wrpapper div strong {
  font-size: 16px;
  font-weight: 500;
}

.section_slider .slider_wrapper .swiper-slide .user_slider_wrpapper div h6 {
  text-align: left;
  margin: 5px 0px;
  color: #49d6cb;
  font-size: 16px;
  font-weight: 500;
}

.post_user_section .post_user_wrapper {
  max-width: 1409px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.160784);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.160784);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.post_user_section .post_user_wrapper .post_user_left {
  width: 1050px;
  padding: 20px;
}

.post_user_section .post_user_wrapper .post_user_left h3 {
  color: #217a73;
  font-size: 32px;
}

.post_user_section .post_user_wrapper .post_user_left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post_user_section .post_user_wrapper .post_user_left form input {
  margin: 10px;
  padding: 15px;
  width: 393px;
  border: none;
  border: 1px solid #49d6cb !important;
  color: #c9c9c9 !important;
}

.post_user_section .post_user_wrapper .post_user_left form select {
  padding: 15px;
  width: 393px;
  color: #c9c9c9;
  margin: 10px;
  border: none;
  border: 1px solid #49d6cb;
  background-color: inherit !important;
}

.post_user_section .post_user_wrapper .post_user_left form textarea {
  width: 810px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  border: none;
  color: #c9c9c9;
  border: 1px solid #49d6cb;
  background-color: inherit !important;
  resize: none;
}

.post_user_section .post_user_wrapper .post_user_left button {
  background-color: #49d6cb;
  display: block;
  border: 1px solid #fff;
  padding: 15px 50px;
  color: #fff;
  margin: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.post_user_section .post_user_wrapper .post_user_left button:hover {
  background-color: #fff;
  color: #49d6cb;
  border: 1px solid #49d6cb;
}

.post_user_section .post_user_wrapper .post_user_right {
  background-image: url("../images/img_post.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 290px;
  background-color: #49d6cb;
  width: 650px;
  padding-left: 90px;
}

.post_user_section .post_user_wrapper .post_user_right h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-top: 45px;
}

.post_user_section .post_user_wrapper .post_user_right a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin-top: 45px;
}

footer {
  margin-top: 100px;
  background-color: #f4f6fc;
}

footer .footer-wrapper {
  padding-bottom: 20px;
}

footer .footer-wrapper img {
  margin-top: 40px;
  margin-left: 30px;
}

footer .footer-wrapper .footer_biglist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .footer-wrapper .footer_biglist li:nth-child(1) {
  color: #217a73;
  font-weight: normal;
  font-family: "comfortaa";
  font-size: 22px;
  margin-bottom: 10px;
}

footer .footer-wrapper .footer_biglist li:nth-child(1) p {
  width: 190px;
  font-size: 16px;
}

footer .footer-wrapper .footer_biglist .footer_mini-list li a {
  color: #000 !important;
  padding: 5px 0;
  display: block;
  transition: color 0.5s;
}

footer .footer-wrapper .footer_biglist .footer_mini-list li a:hover {
  color: #217a73 !important;
}

footer .footer-wrapper .footer_biglist .linked_list_footer a {
  margin: 0;
}

footer .footer-wrapper .footer_biglist .linked_list_footer a img {
  margin: 10px 2px;
}

footer .footer-wrapper .footer_biglist .contant-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

footer .footer-wrapper .footer_biglist .contant-list li img {
  padding: 0;
  margin: 0;
  width: 29px;
  height: 29px;
  margin: 10px;
  margin-right: 15px;
}

footer .footer-wrapper .footer_biglist .contant-list li .icon_location {
  height: 29px !important;
  margin-right: 20px;
  width: 20px !important;
}

footer .footer-wrapper .footer_biglist .contant-list li div {
  margin-top: 7px;
}

footer .footer-wrapper .footer_biglist .contant-list li div p {
  font-size: 16px;
  color: #000;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
}

footer .footer-wrapper .footer_biglist .contant-list li div a {
  color: #8a8a8a !important;
  font-size: 16px !important;
}

.auhor_policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.auhor_policy p {
  color: #8a8a8a;
  font-size: 16px;
}

.auhor_policy p a {
  color: #8a8a8a;
}


.hide {
  display: none !important;
}

.show {
  display: flex;
}

/* normalize css */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}