body {
  background-image: none !important;
}

.Hero_section {
  background-image: url("../images/images_work_line/work_main_bacground.png");
  background-position: center;
  background-size: cover;
  opacity: 0.70;
  background-repeat: no-repeat;
  background-color: #49D6CB;
  margin-top: 0px;

}

.Hero_section .hero_section_wrapper {
  padding: 135px 0;
  opacity: 1;
}

.Hero_section .hero_section_wrapper h1 {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.work_line_section .work_line_wrapper .list_work_line .first_li_work {
  margin-top: 100px;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(1) {
  position: relative;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(1)::after {
  background-image: none;
  content: "";
  /* background-image: url("../images/Group 1582.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  width: 1200px;
  height: 400px;
  position: absolute;
  top: -8%;
  left: 10%;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(3) {
  position: relative;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(3)::before {
  background-image: none;
  content: url("../images/Group 1583.png");
  position: absolute;
  top: -5%;
  left: 14%;
}
.work_line_section .work_line_wrapper .list_work_line li:nth-child(4) {
  margin-top: 270px;
  position: relative;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(1)::before {
  display: none;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(3)::after {
  display: none;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(4)::before {
  content: "";
  background-image: url("../images/images_work_line/Group 1586.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1140px;
  height: 500px;
  position: absolute;
  top: -100%;
  left: 14%;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(5) {
  position: relative;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(5)::before {
  content: "";
  background-image: url("../images/images_work_line/Group 1587.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 850px;
  height: 550px;
  position: absolute;
  top: -55%;
  left: 28%;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(6) {
  margin-top: 250px;
  position: relative;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(6)::before {
  content: "";
  background-image: url("../images/images_work_line/Group 1589.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1200px;
  height: 800px;
  position: absolute;
  top: -80%;
  left: 13%;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(7) {
  position: relative;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(7)::before {
  content: "";
  background-image: url("../images/images_work_line/Group 1588.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  position: absolute;
  top: -50%;
  left: 30%;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(7) img {
  margin-top: 80px;
  width: 300px;
}

.work_line_section .work_line_wrapper .list_work_line li:nth-child(7) div {
  margin-top: 50;
}

.work_line_section .work_line_wrapper ul .middle_li_5 {
  margin-top: 250px;
}