@media only screen and (max-width: 1510px) {
    .Hero_section {
        background-image: url("../../images/portafilo_hero_img.png");
        background-position: top 20% center;
        background-size: 2000px;
        background-repeat: no-repeat;
        background-color: #49D6CB;
        margin-top: 0px;
    }

    .Hero_section .hero_section_wrapper {
        padding: 120px 0;
        opacity: 1;
    }

    .Hero_section .hero_section_wrapper h1 {
        color: #fff;
        font-size: 40px;
        text-align: center;
    }

    .portafilo_father {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
    }

    .portafilo_father li {
        margin: 5px;
        position: relative;
        width: 407px;
        height: 400px;
    }

    .portafilo_father li img {
        width: 407px !important;
        height: 400px !important;
    }

    .portafilo_father li:hover div {
        display: block !important;
    }

    .portafilo_father li div {
        animation: hover_effect 0.5s;
        position: absolute;
        top: 0;
        width: 407px;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.64);
    }

    .portafilo_father li div strong {
        color: #fff;
        display: inline-block;
        font-size: 24px;
        margin-left: 10%;
        margin-top: 45%;
    }

    @keyframes hover_effect {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 1310px) {
    .Hero_section {
        background-image: url("../../images/portafilo_hero_img.png");
        background-position: top 20% center;
        background-size: 2000px;
        background-repeat: no-repeat;
        background-color: #49D6CB;
        margin-top: 0px;
    }

    .Hero_section .hero_section_wrapper {
        padding: 120px 0;
        opacity: 1;
    }

    .Hero_section .hero_section_wrapper h1 {
        color: #fff;
        font-size: 40px;
        text-align: center;
    }

    .portafilo_father {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
    }

    .portafilo_father li {
        margin: 5px;
        position: relative;
        width: 340px;
        height: 340px;
    }

    .portafilo_father li img {
        width: 100% !important;
        height: 100% !important;
    }

    .portafilo_father li:hover div {
        display: block !important;
    }

    .portafilo_father li div {
        animation: hover_effect 0.5s;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.64);
    }

    .portafilo_father li div strong {
        color: #fff;
        display: inline-block;
        font-size: 24px;
        margin-left: 10%;
        margin-top: 45%;
    }

    @keyframes hover_effect {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 1110px) {
    .Hero_section {
        background-image: url("../../images/portafilo_hero_img.png");
        background-position: top 20% center;
        background-size: 2000px;
        background-repeat: no-repeat;
        background-color: #49D6CB;
        margin-top: 0px;
    }

    .Hero_section .hero_section_wrapper {
        padding: 120px 0;
        opacity: 1;
    }

    .Hero_section .hero_section_wrapper h1 {
        color: #fff;
        font-size: 40px;
        text-align: center;
    }

    .portafilo_father {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
    }

    .portafilo_father li {
        margin: 5px;
        position: relative;
        width: 280px;
        height: 280px;
    }

    .portafilo_father li img {
        width: 100% !important;
        height: 100% !important;
    }

    .portafilo_father li:hover div {
        display: block !important;
    }

    .portafilo_father li div {
        animation: hover_effect 0.5s;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.64);
    }

    .portafilo_father li div strong {
        color: #fff;
        display: inline-block;
        font-size: 16px;
        margin-left: 10%;
        margin-top: 45%;
    }

    @keyframes hover_effect {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 900px) {
    .Hero_section {
        background-image: url("../../images/portafilo_hero_img.png");
        background-position: top 20% center;
        background-size: 2000px;
        background-repeat: no-repeat;
        background-color: #49D6CB;
        margin-top: 0px;
    }

    .Hero_section .hero_section_wrapper {
        padding: 120px 0;
        opacity: 1;
    }

    .Hero_section .hero_section_wrapper h1 {
        color: #fff;
        font-size: 40px;
        text-align: center;
    }

    .portafilo_father {
        margin-top: 100px;
        display: flex;
        margin-left: 10px;
        flex-wrap: wrap;
    }

    .portafilo_father li {
        margin: 5px;
        position: relative;
        width: 220px;
        height: 220px;
    }

    .portafilo_father li img {
        width: 100% !important;
        height: 100% !important;
    }

    .portafilo_father li:hover div {
        display: block !important;
    }

    .portafilo_father li div {
        animation: hover_effect 0.5s;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.64);
    }

    .portafilo_father li div strong {
        color: #fff;
        display: inline-block;
        font-size: 16px;
        margin-left: 10%;
        margin-top: 45%;
    }

    @keyframes hover_effect {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 800px) {
    .Hero_section {
        background-image: url("../../images/portafilo_hero_img.png");
        background-position: top 20% center;
        background-size: 2000px;
        background-repeat: no-repeat;
        background-color: #49D6CB;
        margin-top: 0px;
    }

    .Hero_section .hero_section_wrapper {
        padding: 120px 0;
        opacity: 1;
    }

    .Hero_section .hero_section_wrapper h1 {
        color: #fff;
        font-size: 40px;
        text-align: center;
    }

    .portafilo_father {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
    }

    .portafilo_father li {
        margin: 5px;
        position: relative;
        width: 280px;
        height: 280px;
    }

    .portafilo_father li img {
        width: 100% !important;
        height: 100% !important;
    }

    .portafilo_father li:hover div {
        display: block !important;
    }

    .portafilo_father li div {
        animation: hover_effect 0.5s;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.64);
    }

    .portafilo_father li div strong {
        color: #fff;
        display: inline-block;
        font-size: 16px;
        margin-left: 10%;
        margin-top: 45%;
    }

    @keyframes hover_effect {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}
@media only screen and (max-width: 700px) {
    .Hero_section {
        background-image: url("../../images/portafilo_hero_img.png");
        background-position: top 20% center;
        background-size: 2000px;
        background-repeat: no-repeat;
        background-color: #49D6CB;
        margin-top: 0px;
    }

    .Hero_section .hero_section_wrapper {
        padding: 120px 0;
        opacity: 1;
    }

    .Hero_section .hero_section_wrapper h1 {
        color: #fff;
        font-size: 40px;
        text-align: center;
    }

    .portafilo_father {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
    }

    .portafilo_father li {
        margin: 5px;
        position: relative;
        width: 220px;
        height: 220px;
    }

    .portafilo_father li img {
        width: 100% !important;
        height: 100% !important;
    }

    .portafilo_father li:hover div {
        display: block !important;
    }

    .portafilo_father li div {
        animation: hover_effect 0.5s;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.64);
    }

    .portafilo_father li div strong {
        color: #fff;
        display: inline-block;
        font-size: 16px;
        margin-left: 10%;
        margin-top: 45%;
    }

    @keyframes hover_effect {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}
@media only screen and (max-width: 600px) {
    .Hero_section {
        background-image: url("../../images/portafilo_hero_img.png");
        background-position: top 20% center;
        background-size: 2000px;
        background-repeat: no-repeat;
        background-color: #49D6CB;
        margin-top: 0px;
    }

    .Hero_section .hero_section_wrapper {
        padding: 120px 0;
        opacity: 1;
    }

    .Hero_section .hero_section_wrapper h1 {
        color: #fff;
        font-size: 40px;
        text-align: center;
    }

    .portafilo_father {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -8%;
    }

    .portafilo_father li {
        margin: 5px;
        position: relative;
        width: 80%;
        height: 80%;
        margin: 0 auto;
    }

    .portafilo_father li img {
        width: 100% !important;
        height: 100% !important;
    }

    .portafilo_father li:hover div {
        display: block !important;
    }

    .portafilo_father li div {
        animation: hover_effect 0.5s;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.64);
    }

    .portafilo_father li div strong {
        color: #fff;
        display: inline-block;
        font-size: 16px;
        margin-left: 10%;
        margin-top: 45%;
    }

    @keyframes hover_effect {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}