@media only screen and (max-width: 1010px) {
  .Hero_section {
    background-image: url("../../images/servies_Hero_img.png");
    background-position: top 29% center;
    background-size: 2000px;
    background-repeat: no-repeat;
    background-color: #49D6CB;
    margin-top: 0px;
  }

  .Hero_section .hero_section_wrapper {
    padding: 120px 0;
    opacity: 1;
  }

  .Hero_section .hero_section_wrapper h1 {
    color: #fff;
    font-size: 35px;
    text-align: center;
  }

  .services_plan_wrapper {
    margin-top: 60px;
  }

  .services_plan_wrapper .plans .menu_open_button {
    margin: 10px;
    color: #fff;
    background-color: #49d6cb;
    width: 100%;
    border: none;
    font-weight: bolder;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 20px;
  }

  .services_plan_wrapper .plans .menu_open_button img {
    margin-top: 8px;
  }

  .services_plan_wrapper .plans .menu_open_button:hover {
    cursor: pointer;
  }

  .services_plan_wrapper .plans ul {
    -webkit-animation: animation_open 1s;
    animation: animation_open 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .services_plan_wrapper .plans ul li {
    width: 400px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(126, 126, 126, 0.101961);
    box-shadow: 0px 0px 15px 5px rgba(126, 126, 126, 0.101961);
  }

  .services_plan_wrapper .plans ul li .img_list_plans {
    margin-top: 40px;
    background-color: #49d6cb;
    border-radius: 50%;
    display: inline-block;
    width: 91px;
    height: 91px;
  }

  .services_plan_wrapper .plans ul li .img_list_plans img {
    margin-left: 15%;
    margin-top: 20%;
  }

  .services_plan_wrapper .plans ul li h4 {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
  }

  .services_plan_wrapper .plans ul li p {
    font-size: 16px;
    color: #c9c9c9;
    line-height: 1.6;
    width: 85%;
    margin: 0 auto;
  }

  .services_plan_wrapper .plans ul li div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .services_plan_wrapper .plans ul li div label {
    padding: 0;
    margin: 0;
    margin-top: -10px;
    color: #8a8a8a;
    font-size: 16px;
    margin-left: 15px;
  }

  .services_plan_wrapper .plans ul li div input {
    padding: 5px;
    margin: 0;
    margin-top: 10px;
  }

  .services_plan_wrapper .plans ul li h6 {
    font-size: 32px;
    color: #00a49a;
    font-weight: 500;
    margin: 40px 0 10px 0;
  }

  .services_plan_wrapper .plans ul li span {
    color: #c9c9c9;
    font-size: 12px;
    margin: 0 auto;
    display: block;
  }

  .services_plan_wrapper .plans ul li button {
    background-color: #49d6cb;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
    margin: 20px;
  }

  @-webkit-keyframes animation_open {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes animation_open {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  /*# sourceMappingURL=serviices.css.map */
}

@media only screen and (max-width: 420px) {
  .Hero_section {
    background-image: url("../../images/servies_Hero_img.png");
    background-position: top 29% center;
    background-size: 2000px;
    background-repeat: no-repeat;
    background-color: #49D6CB;
    margin-top: 0px;
  }

  .Hero_section .hero_section_wrapper {
    padding: 120px 0;
    opacity: 1;
  }

  .Hero_section .hero_section_wrapper h1 {
    color: #fff;
    font-size: 35px;
    text-align: center;
  }

  .services_plan_wrapper {
    margin-top: 60px;
  }

  .services_plan_wrapper .plans .menu_open_button {
    margin: 10px;
    color: #fff;
    background-color: #49d6cb;
    width: 100%;
    border: none;
    font-weight: bolder;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 17px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 20px;
  }

  .services_plan_wrapper .plans .menu_open_button img {
    margin-top: 8px;
  }

  .services_plan_wrapper .plans .menu_open_button:hover {
    cursor: pointer;
  }

  .services_plan_wrapper .plans ul {
    -webkit-animation: animation_open 1s;
    animation: animation_open 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .services_plan_wrapper .plans ul li {
    width: 450px;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(126, 126, 126, 0.101961);
    box-shadow: 0px 0px 15px 5px rgba(126, 126, 126, 0.101961);
  }

  .services_plan_wrapper .plans ul li .img_list_plans {
    margin-top: 40px;
    background-color: #49d6cb;
    border-radius: 50%;
    display: inline-block;
    width: 91px;
    height: 91px;
  }

  .services_plan_wrapper .plans ul li .img_list_plans img {
    margin-left: 15%;
    margin-top: 20%;
  }

  .services_plan_wrapper .plans ul li h4 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
  }

  .services_plan_wrapper .plans ul li p {
    font-size: 6px;
    color: #c9c9c9;
    line-height: 1.6;
    width: 85%;
    margin: 0 auto;
  }

  .services_plan_wrapper .plans ul li div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .services_plan_wrapper .plans ul li div label {
    padding: 0;
    margin: 0;
    margin-top: -10px;
    color: #8a8a8a;
    font-size: 10px;
    margin-left: 15px;
  }

  .services_plan_wrapper .plans ul li div input {
    padding: 5px;
    margin: 0;
    margin-top: 10px;
  }

  .services_plan_wrapper .plans ul li h6 {
    font-size: 20px;
    color: #00a49a;
    font-weight: 500;
    margin: 40px 0 10px 0;
  }

  .services_plan_wrapper .plans ul li span {
    color: #c9c9c9;
    font-size: 12px;
    margin: 0 auto;
    display: block;
  }

  .services_plan_wrapper .plans ul li button {
    background-color: #49d6cb;
    color: #fff;
    font-size: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 20px;
  }

  @-webkit-keyframes animation_open {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes animation_open {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  /*# sourceMappingURL=serviices.css.map */
}